@import "tailwindcss";

/* additional css base */
@layer base {
  html {
    /* Enable smooth scrolling for anchor links */
    scroll-behavior: smooth;
    /* Enable keywords animations */
    interpolate-size: allow-keywords;
  }

  /* Applies styles when Reduced Motion is enabled */
  @media screen and (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.001ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.001ms !important;
      scroll-behavior: auto !important;
    }
  }

  /* Avoid text overflows */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  /* Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }
}

@theme {
  /* font */
  --font-sans: "Roboto", sans-serif;
  --text-xxs: 0.6875rem;
  --text-h1: clamp(2.5rem, 2.4653vi + 1.9222rem, 3.5rem);

  /* color */
  --color-attribution: hsl(228, 45%, 44%);
  --color-blue-800: hsl(234, 29%, 20%);
  --color-blue-700: hsl(235, 18%, 26%);
  --color-grey: hsl(0, 0%, 58%);
  --color-white: hsl(0, 0%, 100%);

  /* border radius */
  --radius-responsive: clamp(1rem, 6.25vi - 2rem, 2rem);

  /* animations */
  --animate-shake: shake 0.4s ease-in-out;
  @keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
    20%,
    60% {
      transform: translateX(-5px);
    }
    40%,
    80% {
      transform: translateX(5px);
    }
  }
}

@utility btn-blue {
  @apply block-14 inline-full bg-blue-800 rounded-lg font-bold text-white cursor-pointer;

  &:hover {
    @media (hover: hover) {
      @apply bg-linear-to-r from-pink-500 to-amber-600;
    }
  }
}

@utility list {
  @apply flex items-start gap-4;

  &::before {
    @apply content-[url('../img/icon-list.svg')] pbs-0.5;
  }
}

@utility input {
  /* Default / Base State */
  @apply block-14 inline-full px-6 border border-grey rounded-lg;

  &::placeholder {
    @apply trim-both-lowercase;
  }

  /* Default Interactions */
  &:hover {
    @media (hover: hover) {
      @apply border-blue-800 ring-1 ring-blue-800 ring-inset;
    }
  }

  &:focus {
    @apply border-blue-800 outline-none ring-1 ring-blue-800 ring-inset;
  }

  /* Validation: Invalid State */
  &:user-invalid {
    @apply bg-red-100 border-red-500;

    &:hover {
      @media (hover: hover) {
        @apply border-red-500 ring-red-500;
      }
    }

    &:focus {
      @apply border-red-500 ring-red-500;
    }
  }

  /* Validation: Valid State */
  &:valid {
    @apply bg-green-100 border-green-500;

    &:hover {
      @media (hover: hover) {
        @apply border-green-500 ring-green-500;
      }
    }

    &:focus {
      @apply border-blue-800 ring-blue-800;
    }
  }
}

@utility trim-both-lowercase {
  text-box: trim-both cap text;
}

@utility trim-both-capital {
  text-box: trim-both cap alphabetic;
}
