@import "tailwindcss";

/* additional css base */
@layer base {
  html {
    /* Enable smooth scrolling for anchor links */
    scroll-behavior: smooth;
    /* Enable keywords animations */
    interpolate-size: allow-keywords;
  }

  /* Applies styles when Reduced Motion is enabled */
  @media screen and (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.001ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.001ms !important;
      scroll-behavior: auto !important;
    }
  }

  /* Avoid text overflows */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  /* Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }
}

@theme {
  /* font */
  --font-sans: "Roboto", sans-serif;
  --text-xxs: 0.6875rem;
  --text-h1: clamp(2.5rem, 2.4653vi + 1.9222rem, 3.5rem);

  /* color */
  --color-attribution: hsl(228, 45%, 44%);
  --color-blue-800: hsl(234, 29%, 20%);
  --color-blue-700: hsl(235, 18%, 26%);
  --color-grey: hsl(0, 0%, 58%);
  --color-white: hsl(0, 0%, 100%);

  /* border radius */
  --radius-responsive: clamp(1rem, 6.25vi - 2rem, 2rem);
}

@utility btn-blue {
  @apply block-14 inline-full flex justify-center items-center bg-blue-800 hover:bg-linear-to-r hover:from-pink-500 hover:to-amber-600 rounded-lg font-bold text-white cursor-pointer;
}

@utility list {
  @apply flex items-start gap-4 before:content-[url('../img/icon-list.svg')] before:pbs-0.5;
}

@utility input {
  @apply block-14 inline-full data-[is-blur='true']:invalid:bg-red-100 valid:bg-green-50 mbe-6 px-6 border border-grey focus:border-blue-800 valid:focus:border-blue-800 data-[is-blur='true']:invalid:border-red-500 data-[is-blur='true']:invalid:hover:border-red-500 hover:border-2 hover:border-blue-800 focus:border-2 valid:border-green-500 valid:hover:border-green-500 rounded-lg focus:outline-none;
}
